

.dndContainer {
    width: 100%;
    display: flex;
    height: 100vh;
    flex-basis: 25% 
}

.dndStatusContainers {
    height: 100%;
    border : 1px solid red;
    width: 25%;
}

select {
    width: 100%;
    padding: 0.5rem;
}

.taskBox {
    display:flex;
    flex-direction: column;
    background-color: rgb(232, 232, 232);
    padding: 1rem;
    border-radius: 5px;
}
.task-item {
    display: flex;
}
.item-name {
    flex-basis: 30%;
    color: rgb(29, 67, 129);
}
.droppable-container{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 80vh;

}

.dnd-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.droppable-elements{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* border : 1px solid lightslategray; */
    border-radius: 5px;
    /* width: 100%; */
    flex-basis: 100%;
    border-right: 1px solid grey;
    /* overflow-y: scroll; */
}

.new-task-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border : 1px solid lightslategray;
    border-radius: 5px;
    width: 100%;
}

.project-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
li{
    list-style: none;
}

h1 {
    color: rgb(100, 100, 100);
    font-weight: unset;
    margin: 0.5rem 0rem;
}

.top-panel{
    display : flex;
    margin: 0rem 0.5rem;
    border-bottom: 1px solid lightslategray;
    padding: 0.5rem 0rem;
    align-items: center;
    gap: 4rem;
}

.loading-task{
    position: absolute;
    top : 0px;
    left :0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color : black;
}

.no-tasks-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.info-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--color-neutral);
    padding: 0.5rem;
    border-radius: 0.2rem;
}