header{
    padding :10px;
    background-color: cornflowerblue;
    color: white;
    /* font-weight: 400; */
    font-size: larger;
    text-align: center;
    border-bottom: 1px solid grey;
}
main{
    display: flex;
    justify-content: center;
    gap: 2;
    /* flex-direction: column; */
}
section {
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    border : 1px solid lightslategray;
    width: 35%;
    height: 80vh;
    margin : 2em;
    border-radius: 5px;
}

.label {
    display: flex;
    justify-content: center;
    padding: 8px 0px;
    background-color: cornflowerblue;
    color: whitesmoke;
}

.create-project{
    width: 100%;
    all:unset;
    padding: 10px 5px;
    background-color: cornflowerblue;
    /* border-radius: 5px; */
    color: white;
    font-size: medium;
    text-align: center;
    /* border: 1.5px solid black; */
}
.create-project:hover{
    background-color: dodgerblue;
}
.button-full{
    width: 100%;
}

.listing{
    height: 100%;
    overflow-y: scroll;
}

ul{
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 4;
}

li{
    padding: 15px 15px;
    border-bottom: 1px solid lightslategray;
    cursor: pointer;
}

dialog{
    border: 1px solid grey;
    border: 5px;
    border-radius: 5px;
    width: 30%;
}
dialog::backdrop{
    background-color: rgba(100, 100, 100, 0.5);
}
.modal-cancel {
    all:unset;
    padding: 10px 10px;
    /* background-color: cornflowerblue; */
    border-radius: 3px;
    color: rgb(70, 70, 70);;
    font-size: large;
    font-weight: 600;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}
.modal-cancel:hover {
    text-decoration: underline;
}
.modal-create{
    all:unset;
    padding: 10px 5px;
    background-color: cornflowerblue;
    border-radius: 3px;
    color: white;
    font-size: medium;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}
/* 
.project-form-container{
    width: 50%;
} */
h3{
    font-size: larger;
    font-weight: 600;
}

textarea {
    width: 100%;
    resize: none;
}

input[type="text"]{
    width: 100%;
    line-height: 2rem;
}
input[type="date"]{
    /* width:100%; */
    margin-left: 1rem;
    font-size: large;
    /* height : 1rem */
}
label {
    display: block;
    font-weight: 600;
    padding : 0.2em 0em;
    margin-top: 0.6rem;
    font-family: inherit;
    color: rgb(70, 70, 70);
}
/* [data-tooltip]::after {
    content: attr(data-tooltip);
} */

.create-project-submit {
    display: block;
    float: right;
    padding : 0.6rem 1rem;
    margin : 5px 0px;
    background-color: cornflowerblue;
    color :whitesmoke;
    border-radius: 5px;
    border : none;
    /* font: inherit; */
    font-size: medium;
    font-weight: 600;
    cursor: pointer;

}

.create-project-submit :hover{
    background-color: darkblue;
}

input {
    border: 1px solid lightslategray;
    border-radius: 5px;
    /* padding : 0rem 0.2rem; */
}

.btn-containers {
    display: flex;
    justify-content: flex-end;
    gap: 2;
    width: 100%;
}

.form-container{
    width: 100%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-size: larger;
    font-weight: 700;
    color: rgb(71, 71, 71);
}

.label {
    font-size: large;
    font-weight: 600;
}